.container {
    .container__navigation {
        color: #999999;
        font-size: 14px;
        padding: 18px 0px;
    }

    .container__items {
        background-color: white;
        margin-bottom: 30px;
    }
}