.card {
    padding: 16px;
    cursor: pointer;

    &__thumnail__content {
        text-align: center;
        margin: auto;
    }

    &__thumnail__img {
        border-radius: 10px;
        width: 180px;
        height: 180px;
    }

    &__detail__content {
        padding: 10px 0px 0px 0px;
    }

    &__detail__price {
        font-weight: 500;
        font-size: 28px;
        color: #333333;
    }

    &__detail__free_shipping {
        width: 20px;
        height: 20px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__detail__state {
        color: #999999;
        font-size: 12px;
        margin-top: 20px;
    }

    &__detail__description {
        font-weight: 500;
        font-size: 18px;
        color: #666666;
    }
    
}
